html, body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px; }

ul.purchases, ul.financings {
  width: 250px;
  list-style-type: none;
  padding: 0;
  float: left;
  margin-right: 50px; }
  ul.purchases li, ul.financings li {
    margin: 0;
    cursor: pointer;
    overflow: hidden; }
    ul.purchases li span.price, ul.purchases li span.addOns,
    ul.purchases li span.capital, ul.purchases li span.interestRate, ul.purchases li span.amortizationRate, ul.financings li span.price, ul.financings li span.addOns,
    ul.financings li span.capital, ul.financings li span.interestRate, ul.financings li span.amortizationRate {
      margin: 5px 15px 10px;
      color: #999; }
    ul.purchases li span.name, ul.financings li span.name {
      display: block;
      padding: 10px 15px 5px;
      border-bottom: 1px solid #ccc; }
  ul.purchases li.selected, ul.financings li.selected {
    background-color: #eee; }

ul.purchases li span.price {
  float: left; }
ul.purchases li span.addOns {
  float: right; }

ul.financings li span.capital, ul.financings li span.interestRate, ul.financings li span.amortizationRate {
  float: left; }
ul.financings li span.interestRate {
  margin-right: 0; }
  ul.financings li span.interestRate:after {
    content: "/"; }
ul.financings li span.amortizationRate {
  margin-left: 0; }

table.purchase {
  clear: both; }

table.inputs {
  border-collapse: collapse;
  border: 1px solid #ccc; }
  table.inputs caption {
    font-weight: bold;
    padding: 10px 0; }
  table.inputs td {
    padding: 4px 20px; }
  table.inputs input {
    width: 100%; }
  table.inputs .output {
    text-align: right; }
  table.inputs .result td {
    border-top: 1px solid black;
    font-weight: bold; }

table.purchase, table.financing {
  float: left;
  margin-right: 20px; }

.processing, #payments {
  clear: both; }
