html, body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px; }

ul.costs, ul.payments {
  width: 250px;
  list-style-type: none;
  padding: 0;
  float: left;
  margin-right: 50px; }
  ul.costs li, ul.payments li {
    margin: 0;
    cursor: pointer;
    overflow: hidden; }
    ul.costs li span.price, ul.costs li span.addOns,
    ul.costs li span.capital, ul.costs li span.interestRate, ul.costs li span.amortizationRate, ul.payments li span.price, ul.payments li span.addOns,
    ul.payments li span.capital, ul.payments li span.interestRate, ul.payments li span.amortizationRate {
      margin: 5px 15px 10px;
      color: #999; }
    ul.costs li span.name, ul.payments li span.name {
      display: block;
      padding: 10px 15px 5px;
      border-bottom: 1px solid #ccc; }
  ul.costs li.selected, ul.payments li.selected {
    background-color: #eee; }

ul.costs li span.price {
  float: left; }
ul.costs li span.addOns {
  float: right; }

ul.payments li span.capital, ul.payments li span.interestRate, ul.payments li span.amortizationRate {
  float: left; }
ul.payments li span.interestRate {
  margin-right: 0; }
  ul.payments li span.interestRate:after {
    content: "/"; }
ul.payments li span.amortizationRate {
  margin-left: 0; }

table.cost {
  clear: both; }

table.inputs {
  border-collapse: collapse;
  border: 1px solid #ccc; }
  table.inputs caption {
    font-weight: bold;
    padding: 10px 0; }
  table.inputs td {
    padding: 4px 20px; }
  table.inputs input {
    width: 100%; }
  table.inputs .output {
    text-align: right; }
  table.inputs .result td {
    border-top: 1px solid black;
    font-weight: bold; }

table.cost, table.credit {
  float: left;
  margin-right: 20px; }

.processing, #months {
  clear: both; }
