html, body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

ul.costs, ul.payments {
  width: 250px;
  list-style-type: none;
  padding: 0;
  float: left;
  margin-right: 50px;

  li {
    margin: 0;
    cursor: pointer;
    overflow: hidden;
    span.price, span.addOns,
    span.capital, span.interestRate, span.amortizationRate {
      margin: 5px 15px 10px;
      color: #999;
    }
    span.name {
      display: block;
      padding: 10px 15px 5px;
      border-bottom: 1px solid #ccc;
    }
  }
  li.selected {
    background-color: #eee;
  }
}

ul.costs li {
  span.price {
    float: left;
  }
  span.addOns {
    float: right;
  }
}

ul.payments li {
  span.capital, span.interestRate, span.amortizationRate {
    float: left;
  }
  span.interestRate {
    margin-right: 0;
    &:after {
      content: "/";
    }
  }
  span.amortizationRate {
    margin-left: 0;
  }
}

table.cost {
  clear: both;
}
table.inputs {
  border-collapse: collapse;
  border: 1px solid #ccc;
  caption {
    font-weight: bold;
    padding: 10px 0;
  }
  td {
    padding: 4px 20px;
  }
  input {
    width: 100%;
  }
  .output {
    text-align: right;
  }
  .result td {
    border-top: 1px solid black;
    font-weight: bold;
  }
}

table.cost, table.credit {
  float: left;
  margin-right: 20px;
}

.processing, #months {
  clear: both;
}
