<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <title>Interesting - Zinsberechnung</title>
    <link href='css/styles.css' media='all' rel='stylesheet' type='text/css'>
  </head>
  <body ng-app='app' ng-controller='interestCtrl'>
    <ul class='purchases'>
      <li ng-class="{true:'selected', false:''}[purchase == selectedPurchase]" ng-click='selectPurchase($index) &amp;&amp; calculate()' ng-repeat='purchase in purchases'>
        <span class='name'>{{purchase.name}}</span>
        <span class='price'>{{purchase.price | currency:"&euro; "}}</span>
        <span class='addOns'>{{purchase.addOns | currency:"&euro; "}}</span>
      </li>
      <li>
        <button ng-click='addPurchase()'>Add</button>
      </li>
    </ul>
    <ul class='financings'>
      <li ng-class="{true:'selected', false:''}[financing == selectedFinancing]" ng-click='selectFinancing($index) &amp;&amp; calculate()' ng-repeat='financing in financings'>
        <span class='name'>{{financing.name}}</span>
        <span class='capital'>{{financing.capital | currency:"&euro; "}}</span>
        <span class='interestRate'>{{financing.interestRate | percent}}</span>
        <span class='amortizationRate'>{{financing.amortizationRate | percent}}</span>
      </li>
      <li>
        <button ng-click='addFinancing()'>Add</button>
      </li>
    </ul>
    <table class='inputs purchase'>
      <caption>Immobilienobjekt</caption>
      <tr>
        <td class='label'>
          <label for='purchaseName'>Name</label>
        </td>
        <td class='input'>
          <input id='purchaseName' ng-change='savePurchase()' ng-model='selectedPurchase.name' pattern='.{1,}' type='text'>
        </td>
      </tr>
      <tr>
        <td class='label'>
          <label for='price'>Grunderwerb (bei Bestand inkl. Haus)</label>
        </td>
        <td class='input'>
          <input id='price' ng-change='calculate()' ng-model='selectedPurchase.price' step='10000' type='number'>
        </td>
        <td class='output'>{{selectedPurchase.price | currency:"&euro; "}}</td>
      </tr>
      <tr>
        <td class='label'>
          <label for='addOns'>Zusatzkosten (z. B. Hausbau)</label>
        </td>
        <td class='input'>
          <input id='notary' ng-change='calculate()' ng-model='selectedPurchase.addOns' step='10000' type='number'>
        </td>
        <td class='output'>{{selectedPurchase.addOns | currency:"&euro; "}}</td>
      </tr>
      <tr class='result'>
        <td class='label'>Gesamtwert</td>
        <td class='input'></td>
        <td class='output'>{{selectedPurchase.price + selectedPurchase.addOns | currency:"&euro; "}}</td></td>
      </tr>
      <tr>
        <td class='label'>
          <label for='brokerage'>Courtage</label>
        </td>
        <td class='input'>
          <input id='brokerage' ng-change='calculate()' ng-model='selectedPurchase.brokerage' step='0.05' type='number'>
        </td>
        <td class='output'>{{selectedPurchase.brokerageCost() | currency:"&euro; "}}</td>
      </tr>
      <tr>
        <td class='label'>
          <label for='tax'>Grunderwerbsteuer</label>
        </td>
        <td class='input'>
          <input id='tax' ng-change='calculate()' ng-model='selectedPurchase.tax' step='0.5' type='number'>
        </td>
        <td class='output'>{{selectedPurchase.taxCost() | currency:"&euro; "}}</td>
      </tr>
      <tr>
        <td class='label'>
          <label for='notary'>Notarkosten</label>
        </td>
        <td class='input'>
          <input id='notary' ng-change='calculate()' ng-model='selectedPurchase.notary' step='0.5' type='number'>
        </td>
        <td class='output'>{{selectedPurchase.notaryCost() | currency:"&euro; "}}</td>
      </tr>
      <tr class='result'>
        <td class='label'>Gesamtnebenkosten</td>
        <td class='input'></td>
        <td class='output'>{{selectedPurchase.taxCost() + selectedPurchase.notaryCost() + selectedPurchase.brokerageCost() | currency:"&euro; "}}</td>
      </tr>
      <tr class='result'>
        <td class='label'>Summe</td>
        <td class='input'></td>
        <td class='output'>{{selectedPurchase.totalCost() | currency:"&euro; "}}</td></td>
      </tr>
    </table>
    <table class='inputs credit'>
      <caption>Finanzierung</caption>
      <tr>
        <td class='label'>
          <label for='financingName'>Name</label>
        </td>
        <td class='input'>
          <input id='financingName' ng-change='saveFinancing()' ng-model='selectedFinancing.name' pattern='.{1,}' type='text'>
        </td>
      </tr>
      <tr>
        <td class='label'>
          <label for='capital'>Eigenkapital</label>
        </td>
        <td class='input'>
          <input id='capital' ng-change='calculate()' ng-model='selectedFinancing.capital' step='10000' type='number'>
        </td>
      </tr>
      <tr>
        <td class='label'>
          <label for='interestRate'>Zinssatz</label>
        </td>
        <td class='input'>
          <input id='interestRate' ng-change='calculate()' ng-model='selectedFinancing.interestRate' step='0.1' type='number'>
        </td>
      </tr>
      <tr>
        <td class='label'>
          <label for='amortizationRate'>Tilgungssatz</label>
        </td>
        <td class='input'>
          <input id='amortizationRate' ng-change='calculate()' ng-model='selectedFinancing.amortizationRate' step='0.1' type='number'>
        </td>
      </tr>
      <tr>
        <td class='label'>Kreditsumme</td>
        <td class='output'>{{credit() | currency:"&euro; "}}</td>
      </tr>
      <tr>
        <td class='label'>Monatliche Rate</td>
        <td class='output'>{{monthlyPayment() | currency:"&euro; "}}</td>
      </tr>
      <tr>
        <td class='label'>Zahlungsdauer</td>
        <td class='output'>
          <span ng-show='months'>{{months.length / 12 | number:0}} Jahre und {{months.length % 12 | number}} Monate</span>
        </td>
      </tr>
      <tr>
        <td class='label'>Gesamtzinsen</td>
        <td class='output'>
          <span ng-show='months'>{{totalInterest | currency:"&euro; "}}</span>
        </td>
      </tr>
      <tr class='result'>
        <td class='label'>Gesamtkosten</td>
        <td class='output'>
          <span ng-show='months'>{{totalPayments + selectedPurchase.capital | currency:"&euro; "}}</span>
        </td>
      </tr>
      <tr>
        <td class='label'>davon Nebenkosten</td>
        <td class='output'>
          <span ng-show='months'>{{selectedPurchase.taxCost() + selectedPurchase.notaryCost() + selectedPurchase.brokerageCost() + totalInterest | currency:"&euro; "}}</span>
        </td>
      </tr>
    </table>
    <div class='processing' ng-show='processing'>processing...</div>
    <ul id='months' ng-show='months'>
      <li class='month' ng-repeat='month in months' title=''>
        {{$index}}: {{month.payment | currency:"&euro; "}}
        <span class='interest' style='height: {{month.interest / 10 | number:0}}px' title='Zins: {{month.interest | currency}}'>{{month.interest | currency:"&euro; "}}</span>
        <span class='amortization' style='height: {{month.amortization / 10 | number:0}}px' title='Tilgung: {{month.amortization | currency}}'>{{month.amortization | currency:"&euro; "}}</span>
        =>
        <span class='balance' style='height: {{month.balance / 100 | number:0}}px' title='Kreditsumme: {{month.balance | currency}}'>{{month.balance | currency:"&euro; "}}</span>
      </li>
    </ul>
    <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js' type='text/javascript'></script>
    <script src='javascript/app.js' type='text/javascript'></script>
  </body>
</html>
