!!!
%html
  %head
    %meta{:charset => 'utf-8'}/
    %meta{:content => 'IE=edge,chrome=1', :"http-equiv" => 'X-UA-Compatible'}/
    %title Interesting - Zinsberechnung
    %link{:href => "css/styles.css", :rel => "stylesheet", :type => "text/css", :media => "all"}

  %body{:"ng-app" => "app", :"ng-controller" => "interestCtrl"}

    %ul.purchases
      %li{:"ng-repeat" => "purchase in purchases.all", :"ng-click" => "purchases.select(purchase) && calculate()", :"ng-class" => "{true:'selected', false:''}[purchase == purchases.selected]"}
        %span.name {{purchase.name || "-- Unbenannt --"}}
        %span.price {{purchase.price | currency:"&euro; "}}
        %span.addOns {{purchase.addOns | currency:"&euro; "}}
        %span.delete
          %a{:"ng-click" => "purchases.delete(purchase)"} x
      %li
        %button{:"ng-click" => "purchases.addNew()"} Add

    %ul.financings
      %li{:"ng-repeat" => "financing in financings.all", :"ng-click" => "financings.select(financing) && calculate()", :"ng-class" => "{true:'selected', false:''}[financing == financings.selected]"}
        %span.name {{financing.name || "-- Unbenannt --"}}
        %span.capital {{financing.capital | currency:"&euro; "}}
        %span.interestRate {{financing.interestRate | percent}}
        %span.amortizationRate {{financing.amortizationRate | percent}}
        %span.optionalAmortizationRate {{financing.optionalAmortizationRate | percent}}
        %span.delete
          %a{:"ng-click" => "financings.delete(financing)"} x
      %li
        %button{:"ng-click" => "financings.addNew()"} Add

    %table.inputs.purchase{:"ng-show" => "purchases.selected"}
      %caption Immobilienobjekt
      %tr
        %td.label
          %label{:for => "purchaseName"} Name
        %td.input
          %input{:id => "purchaseName", :type => "text", :"ng-model" => "purchases.selected.name", :"ng-change" => "purchases.saveSelected()", :placeholder => "Bitte Namen eingeben"}
        %td

      %tr
        %td.label
          %label{:for => "purchaseDate"} Kaufdatum
        %td.input
          %input{:type => "date", :"ng-model" => "purchases.selected.purchaseDate", :"ng-change" => "purchases.saveSelected()"}
        %td

      %tr
        %td.label
          %label{:for => "price"}Grunderwerb (bei Bestand inkl. Haus)
        %td.input
          %input#price{:type => "number", :step => "10000", :"ng-model" => "purchases.selected.price", :"ng-change" => "calculate()"}
        %td.output {{purchases.selected.price | currency:"&euro; "}}
      %tr
        %td.label
          %label{:for => "addOns"} Zusatzkosten (z. B. Hausbau)
        %td.input
          %input#notary{:type => "number", :step => "10000", :"ng-model" => "purchases.selected.addOns", :"ng-change" => "calculate()"}
        %td.output {{purchases.selected.addOns | currency:"&euro; "}}
      %tr.result
        %td.label Gesamtwert
        %td.input
        %td.output {{purchases.selected.price + purchases.selected.addOns | currency:"&euro; "}}</td>
      %tr
        %td.label
          %label{:for => "brokerage"} Courtage
        %td.input
          %input#brokerage{:type => "number", :step => "0.05", :"ng-model" => "purchases.selected.brokerage", :"ng-change" => "calculate()"}
        %td.output {{purchases.selected.brokerageCost() | currency:"&euro; "}}
      %tr
        %td.label
          %label{:for => "tax"} Grunderwerbsteuer
        %td.input
          %input#tax{:type => "number", :step => "0.5", :"ng-model" => "purchases.selected.tax", :"ng-change" => "calculate()"}
        %td.output {{purchases.selected.taxCost() | currency:"&euro; "}}
      %tr
        %td.label
          %label{:for => "notary"} Notarkosten
        %td.input
          %input#notary{:type => "number", :step => "0.5", :"ng-model" => "purchases.selected.notary", :"ng-change" => "calculate()"}
        %td.output {{purchases.selected.notaryCost() | currency:"&euro; "}}
      %tr.result
        %td.label Gesamtnebenkosten
        %td.input
        %td.output {{purchases.selected.taxCost() + purchases.selected.notaryCost() + purchases.selected.brokerageCost() | currency:"&euro; "}}
      %tr.result
        %td.label Summe
        %td.input
        %td.output {{purchases.selected.totalCost() | currency:"&euro; "}}</td>

    %table.inputs.financing{:"ng-show" => "financings.selected"}
      %caption Finanzierung
      %tr
        %td.label
          %label{:for => "financingName"} Name
        %td.input
          %input{:id => "financingName", :type => "text", :"ng-model" => "financings.selected.name", :"ng-change" => "financings.saveSelected()", :placeholder => "Bitte Namen eingeben"}
      %tr
        %td.label
          %label{:for => "capital"} Eigenkapital
        %td.input
          %input#capital{:type => "number", :step => "10000", :"ng-model" => "financings.selected.capital", :"ng-change" => "calculate()"}
      %tr
        %td.label
          %label{:for => "interestRate"} Zinssatz
        %td.input
          %input#interestRate{:type => "number", :step => "0.1", :"ng-model" => "financings.selected.interestRate", :"ng-change" => "calculate()"}
      %tr
        %td.label
          %label{:for => "amortizationRate"} Tilgungssatz
        %td.input
          %input#amortizationRate{:type => "number", :step => "0.1", :"ng-model" => "financings.selected.amortizationRate", :"ng-change" => "calculate()"}
      %tr
        %td.label
          %label{:for => "optionalAmortizationRate"} Sondertilgungssatz
        %td.input
          %input#optionalAmortizationRate{:type => "number", :step => "0.1", :"ng-model" => "financings.selected.optionalAmortizationRate", :"ng-change" => "calculate()"}
      %tr
        %td.label Kreditsumme
        %td.output
          %span{:"ng-show" => "purchases.selected"} {{credit() | currency:"&euro; "}}
      %tr
        %td.label Monatliche Rate
        %td.output
          %span{:"ng-show" => "purchases.selected"} {{monthlyPayment() | currency:"&euro; "}}
      %tr
        %td.label Sondertilgung
        %td.output
          %span{:"ng-show" => "purchases.selected"} {{optionalYearlyPayment() | currency:"&euro; "}}
      %tr
        %td.label Zahlungsdauer
        %td.output
          %span{:"ng-show" => "payments"} {{payments.length / 12 | number:0}} Jahre und {{payments.length % 12 | number}} Monate
      %tr
        %td.label Gesamtzinsen
        %td.output
          %span{:"ng-show" => "payments"} {{totalInterest | currency:"&euro; "}}
      %tr.result
        %td.label Gesamtkosten
        %td.output
          %span{:"ng-show" => "payments"} {{totalPayments + purchases.selected.capital | currency:"&euro; "}}
      %tr
        %td.label davon Nebenkosten
        %td.output
          %span{:"ng-show" => "payments"} {{purchases.selected.taxCost() + purchases.selected.notaryCost() + purchases.selected.brokerageCost() + totalInterest | currency:"&euro; "}}

    .processing{:"ng-show" => "processing"} processing...
    %ul#payments{:"ng-show" => "payments"}
      %li.payment{:"ng-repeat" => "payment in payments", :title => ""}
        {{payment.date | date:"yyyy/MM"}}: {{payment.payment | currency:"&euro; "}}
        %span.interest{:style => "height: {{payment.interest / 10 | number:0}}px", :title => "Zins: {{payment.interest | currency}}"} {{payment.interest | currency:"&euro; "}}
        %span.amortization{:style => "height: {{payment.amortization / 10 | number:0}}px", :title => "Tilgung: {{payment.amortization | currency}}"} {{payment.amortization | currency:"&euro; "}}
        \=>
        %span.balance{:style => "height: {{payment.balance / 100 | number:0}}px", :title => "Kreditsumme: {{payment.balance | currency}}"} {{payment.newBalance | currency:"&euro; "}}

    %script{:src => "http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js", :type => "text/javascript"}
    %script{:src => "javascript/app.js", :type => "text/javascript"}
